<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:insert="~{/templates/skeleton-list :: page('Apparatuur','equipment')}"
      th:object="${equipmentViewList}"
      lang="nl">
<body>

<ol th:fragment="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Apparatuur</li>
    <li class="breadcrumb-item active" aria-current="page">Overzicht</li>
</ol>

<div th:fragment="content">
    <table id="equipment-table" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Desktop</th>
            <th>Fabrikant</th>
            <th>Model</th>
            <th>Inschrijf datum</th>
            <th>Uitgeschreven datum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipment : ${equipmentViewList.data}">
            <td>
                <a class="link-opacity-25-hover" th:href="@{'/apparatuur/'+${equipment.id}}"
                   th:text="${equipment.id}"></a>
            </td>
            <td th:text="${equipment.category.label}"></td>
            <td th:text="${equipment.manufacturer}"></td>
            <td th:text="${equipment.model}"></td>

            <td th:text="${#temporals.format(equipment.registered, 'd MMM yyyy')}"></td>
            <td th:text="${#temporals.format(equipment.unregistered, 'd MMM yyyy')}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:fragment="scripts">
</div>

</body>
</html>
