<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="nl">

<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" th:href="@{/assets/images/logo-ct.png}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/computerhuis.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">

    <title>Login | Werkgroep Computerhuis Oost'"></title>
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 login-section-wrapper">
                <div class="brand-wrapper">
                    <h2>
                        <img th:src="@{/assets/images/logo-ct.png}" alt="logo" class="logo">
                        &nbsp;Werkgroep&nbsp;Computerhuis&nbsp;Oost
                    </h2>
                </div>
                <div class="login-wrapper my-auto" sec:authorize="not isAuthenticated()">
                    <h2 class="login-title">Log in</h2>
                    <form th:action="@{__${currentUrl}__}" method="get">
                        <div class="row mb-2">
                            <div class="col-md-6 d-grid gap-2">
                                <button class="btn btn-primary btn-block" name="role" value="collega" type="submit">
                                    Login als collega
                                </button>
                            </div>
                            <div class="col-md-6 d-grid gap-2">
                                <button class="btn btn-primary btn-block" name="role" value="beheerder" type="submit">
                                    Login als beheerder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="login-wrapper my-auto" sec:authorize="isAuthenticated()">
                    <form class="hidden" id="logoutform" method="post" th:action="@{/uitloggen}">
                        <div class="row mb-2">
                            <div class="col d-grid gap-2">
                                <button class="btn btn-outline-danger btn-block" type="submit">
                                    Uitloggen
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 px-0 d-none d-sm-block">
                <img th:src="@{/assets/images/keyboard.jpg}" alt="login image" class="login-img">
            </div>
        </div>
    </div>
</main>
</body>
</html>
